.app .techStack .sectionText {
    margin: 8px;
    margin-top: 50px;
}

.app .techStack .cardList {
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.app .techStack form {
    display: flex;
}

.app .techStack input {
    padding: 10px;
    margin: 8px;
    margin-bottom: 0px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 7px;
    width: 100%;
}

.app .techStack button {
    padding: 10px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid #b30000;
    border-radius: 7px;
    background-color: #b30000;
    color: #FFF;
}

.app .techStack button:hover {
    background-color: #ff3300;
    border: 2px solid #ff3300;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .app .techStack .cardList {
    }
}